/target
target/

# Xcode
.derivedData/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata

# Xcode build state
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# SwiftPM
.build/
.swiftpm/
build/

# Swift build artifacts (shouldn't be in project root)
*.d
*.dia
*.o
*.swiftconstvalues
*.swiftdeps
*.swiftmodule
*.swiftsourceinfo
